.query-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.page-query-results {
  width: 100%;
}

.query-in-progress {
  width: 150px;
  margin: 10px calc(50% - 75px);
}
