.app-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-select ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--light);
  padding: 10px;
  margin: 0;
  position: absolute;
  border: 2px solid gray;
  border-radius: 15px;
  overflow: hidden;
  z-index: 100;
  list-style: none;
  top: -2px;
}

.app-select li {
  list-style: none;
  padding: 10px 5px;
  margin: 0 5px;
  text-align: center;
  min-width: 100px;
}

.app-select li:last-child {
  border: none;
}

.app-select li:hover {
  background-color: var(--primary-light);
}

.app-select li.active {
  color: var(--light);
  background-color: var(--primary);
}

.multi-selections {
  width: 50%;
  padding: 10px;
  border: 2px solid var(--gray-light);
  border-radius: 10px;
  margin: 5px auto 0;
  text-align: center;
}

.multi-selections span:first-child {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
