#app-header {
  height: var(--header-height);
  background-color: var(--primary);
  display: flex;
  align-items: center;
}

#app-header .home-link {
  margin: 0 1%;
  color: var(--dark);
  font-size: var(--large-font-size);
}
