.list-view-container {
  margin: 0;
  padding: 10px;
  list-style: none;
  border: 2px solid var(--gray-light);
  border-radius: 10px;
}

.list-view-item {
  padding: 5px 0;
  border-bottom: 2px dotted var(--gray-light);
}

.list-view-item:first-child {
  padding: 0 0 5px 0;
}

.list-view-item:last-child {
  padding: 5px 0 0 0;
  border-bottom: none;
}
